/*Video*/
.video-container{
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height:600px;
    min-width: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    z-Index: -1;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
  }
  